<h1>{{model.listing.description}}</h1>

<p>Sold by: {{model.listing.seller}}</p>
<p>Price: ${{model.listing.price}}</p>
<p>Location: {{model.listing.location}}</p>
<p>Notes and Comments: {{model.listing.note}}</p>

<hr>

{{listing-edit listing=model.listing updateListing="updateListing" deleteListing="deleteListing"}}
